In [1]:
import pandas
import numpy
import itertools
import collections

In [2]:
df = pandas.read_csv('IMDB-Dataset-clean-reduced.csv')
df.head(10)

                                              review sentiment
0  one review mention watch oz episod hook right ...  positive
1  wonder littl product film techniqu veri unassu...  positive
2  thought wonder way spend time hot summer weeke...  positive
3  basic famili littl boy jake think zombi closet...  negative
4  mattei love time money visual stun film watch ...  positive
5  probabl time favorit movi stori selfless sacri...  positive
6  sure would like see resurrect date seahunt ser...  positive
7  show amaz fresh innov idea first air first yea...  negative
8  encourag posit comment film look forward watch...  negative
9  like origin gut wrench laughter like movi youn...  positive

In [3]:
df['review'] = df['review'].apply(str.split)
df.head(10)

                                              review sentiment
0  [one, review, mention, watch, oz, episod, hook...  positive
1  [wonder, littl, product, film, techniqu, veri,...  positive
2  [thought, wonder, way, spend, time, hot, summe...  positive
3  [basic, famili, littl, boy, jake, think, zombi...  negative
4  [mattei, love, time, money, visual, stun, film...  positive
5  [probabl, time, favorit, movi, stori, selfless...  positive
6  [sure, would, like, see, resurrect, date, seah...  positive
7  [show, amaz, fresh, innov, idea, first, air, f...  negative
8  [encourag, posit, comment, film, look, forward...  negative
9  [like, origin, gut, wrench, laughter, like, mo...  positive

In [4]:
word_set = list(set(itertools.chain.from_iterable(df['review'])))
word_encodings = dict((word, index) for index, word in enumerate(word_set))
df['review'] = df['review'].apply(lambda words: list(map(lambda word: word_encodings[word], words)))
df.head(10)

                                              review sentiment
0  [24333, 3227, 68, 724, 4332, 25590, 39575, 113...  positive
1  [14152, 38878, 17652, 35991, 35693, 13083, 260...  positive
2  [34735, 14152, 30888, 34637, 6233, 5922, 37994...  positive
3  [3887, 11164, 38878, 26546, 5256, 31885, 12052...  negative
4  [3736, 5010, 6233, 3128, 30824, 3588, 35991, 7...  positive
5  [36331, 6233, 6667, 37545, 27567, 4779, 27522,...  positive
6  [23645, 17106, 5698, 23350, 39504, 29564, 3075...  positive
7  [39971, 6327, 15081, 28485, 6196, 19731, 37704...  negative
8  [10406, 39637, 25945, 35991, 32495, 1460, 724,...  negative
9  [5698, 20230, 37501, 5726, 13804, 5698, 37545,...  positive

In [5]:
df['review'] = df['review'].apply(collections.Counter)
columns = dict((word_code, df['review'].apply(lambda counter: counter[word_code])) for word_code in range(len(word_set)))
def encode_sentiment(sent):
    if sent == 'positive':
        return 1
    elif sent == 'negative':
        return 0
    else:
        return -1
df['sentiment'] = df['sentiment'].apply(encode_sentiment)

In [6]:
new_df = pandas.DataFrame(columns)
new_df = new_df.assign(sentiment = df['sentiment'])
new_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,41631,41632,41633,41634,41635,41636,41637,41638,41639,sentiment
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
new_df.to_csv("IMDB-reduced-encoded.csv")