In [1]:
import pandas
import numpy
import itertools
import collections

In [2]:
df = pandas.read_csv('IMDB-Dataset-clean-reduced.csv')
df.head(10)

                                              review sentiment
0  one review mention watch oz episod hook right ...  positive
1  wonder littl product film techniqu veri unassu...  positive
2  thought wonder way spend time hot summer weeke...  positive
3  basic famili littl boy jake think zombi closet...  negative
4  mattei love time money visual stun film watch ...  positive
5  probabl time favorit movi stori selfless sacri...  positive
6  sure would like see resurrect date seahunt ser...  positive
7  show amaz fresh innov idea first air first yea...  negative
8  encourag posit comment film look forward watch...  negative
9  like origin gut wrench laughter like movi youn...  positive

In [3]:
df['review'] = df['review'].apply(str.split)
df.head(10)

                                              review sentiment
0  [one, review, mention, watch, oz, episod, hook...  positive
1  [wonder, littl, product, film, techniqu, veri,...  positive
2  [thought, wonder, way, spend, time, hot, summe...  positive
3  [basic, famili, littl, boy, jake, think, zombi...  negative
4  [mattei, love, time, money, visual, stun, film...  positive
5  [probabl, time, favorit, movi, stori, selfless...  positive
6  [sure, would, like, see, resurrect, date, seah...  positive
7  [show, amaz, fresh, innov, idea, first, air, f...  negative
8  [encourag, posit, comment, film, look, forward...  negative
9  [like, origin, gut, wrench, laughter, like, mo...  positive

In [4]:
word_set = list(set(itertools.chain.from_iterable(df['review'])))
word_encodings = dict((word, index) for index, word in enumerate(word_set))
df['review'] = df['review'].apply(lambda words: list(map(lambda word: word_encodings[word], words)))
df.head(10)

                                              review sentiment
0  [36095, 23117, 9375, 30062, 10658, 36964, 1555...  positive
1  [35987, 10787, 8331, 14864, 18201, 10811, 2942...  positive
2  [22873, 35987, 39407, 14893, 988, 2442, 14919,...  positive
3  [9862, 37784, 10787, 21337, 7565, 19956, 16001...  negative
4  [27167, 87, 988, 33703, 24410, 36201, 14864, 3...  positive
5  [26182, 988, 23344, 3517, 7377, 25383, 33686, ...  positive
6  [38727, 32558, 7131, 23784, 16486, 3447, 1220,...  positive
7  [38939, 20393, 36356, 40254, 20978, 35973, 263...  negative
8  [19696, 36488, 31380, 14864, 36673, 3109, 3006...  negative
9  [7131, 32942, 20380, 37711, 26189, 7131, 3517,...  positive

In [5]:
# columns = dict((index, df['review'].apply(lambda words: words.count(index))) for index in range(len(word_set)))
# columns[0][:10]
df['review'] = df['review'].apply(collections.Counter)
columns = dict((word_code, df['review'].apply(lambda counter: counter[word_code])) for word_code in range(len(word_set)))

In [6]:
new_df = pandas.DataFrame(columns)
new_df = new_df.assign(sentiment = df['sentiment'])
new_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,41631,41632,41633,41634,41635,41636,41637,41638,41639,sentiment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive

In [21]:
new_df.to_csv("IMDB-reduced-encoded.csv")